##################################
# Python
##################################
__pycache__/
*.pyc

##################################
# YOLO weights
##################################
yolov8*.pt

##################################
# ROS 2 bags (HUGE)
##################################
data/**/rosbag/
data/**/rosbag2_*/
data/**/*.db3

##################################
# Sensor samples (auto generated)
##################################
data/**/*_rgb_sample.png
data/**/*_cloud_sample.npy
data/**/*_cam_K.npy

##################################
# Results (auto generated)
##################################
ch2_world_clouds
##################################
# Editors
##################################
.vscode/
.idea/
*.swp
